package partials

import (
	"github.com/lewisje1991/code-bookmarks/internal/domain/notes"
)

templ RenderNotes(notes []*notes.Note) {
    <div>
        for _, todo := range notes {
            @RenderNote(todo)
        }
        <div id="no-notes">
            <p>You have no notes...</p>
        </div>
    </div>
}